In [58]:
# setup
import pandas as pd
from pathlib import Path
import numpy as np

In [60]:
## path setup
# choose base for uploading
base_folder = Path().resolve().parent

data_folder = base_folder / "data"
cleaned_folder = data_folder / "clean_data"

# create folder
cleaned_folder.mkdir(parents = True, exist_ok = True)

In [62]:
## data cleaning
# create function to get tidy data
def clean_file(path, year, organic, n_states=None, state_names=None, skiprows=0):
    
    # read raw data with no header
    raw = pd.read_excel(path, header=None, skiprows=skiprows, dtype=str) 

    # get number of state columns
    if n_states is None:
        n_states = raw.shape[1] - 1

    # creates new list of column names
    col_names = ["field"] + [f"col_{i}" for i in range(1, n_states + 1)]

    # make sure columns match up
    raw = raw.iloc[:, :len(col_names)]

    # rename columns to standardize dataset
    raw.columns = col_names

    # standardize datatype
    raw["field"] = raw["field"].astype(str).str.strip()

    # drop empty rows
    raw = raw.dropna(how = "all")

    # get category rows
    is_category = raw["field"].str.endswith(":")

    # create category column
    raw["category"] = np.where(
        is_category,
        raw["field"].str.replace(":", "", regex=False).str.strip(),
        np.nan)

    # create item column
    raw["item"] = np.where(~is_category, raw["field"], np.nan)

    # fill categories downwards
    raw["category"] = raw["category"].ffill()

    # keep rows that have data
    items = raw[raw["item"].notna()].copy()

    # get data to long format
    long_df = items.melt(
        id_vars = ["category", "item"],
        value_vars = [f"col_{i}" for i in range(1, n_states + 1)],
        var_name = "state_index",
        value_name = "value")

    # get values and convert to integers
    long_df["state_index"] = long_df["state_index"].str.extract(r"col_(\d+)", expand=False).astype(int)

    # if/else to create state names
    if state_names is not None:
        long_df["State"] = long_df["state_index"].apply(lambda i: state_names[i-1])
    else:
        long_df["State"] = long_df["state_index"].apply(lambda i: f"State_{i}")

    # convert to numeric datatype
    long_df["value"] = pd.to_numeric(long_df["value"], errors="coerce")

    # adds year column
    long_df["year"] = year

    # adds organic indicator
    long_df["organic"] = organic

    # return the function
    return long_df[["category", "item", "State", "value", "year", "organic"]]

In [64]:
## data cleaning
# create function to build dataset
def build_dataset(path, year, organic, states, skiprows=0):
    
    # call clean_file() function to get tidy data
    long_df = clean_file(path = path, year = year, organic = organic, n_states = len(states),
                         state_names = states, skiprows = skiprows)

    # select which variables to keep and corretly name them
    select_variables = {"Milk sold": "milk_sold",
                        "Total, gross value of production": "gross_value",
                        "Total, feed costs": "feed_costs",
                        "Veterinary and medicine": "vet_costs",
                        "Bedding and litter": "bedding_litter_costs",
                        "Marketing": "marketing_costs",
                        "Custom services": "service_costs",
                        "Fuel, lube, and electricity": "utility_costs",
                        "Repairs": "repair_costs",
                        "Total, operating cost": "total_operating_costs",
                        "Total, allocated overhead": "overhead",
                        "Total costs listed": "total_costs",
                        "Milk cows (head per farm)": "cows_per_farm",
                        "Output per cow (pounds)": "output_per_cow"}

    variables = list(select_variables.keys())

    # filter long_df with select variables
    sub = long_df[long_df["item"].isin(variables)].copy()

    # convert organic to yes/no
    sub["Organic"] = np.where(sub["organic"] == 1, "Yes", "No")

    # pivot from long data to wide data table so there's only 1 row for data
    wide = (sub.pivot_table(index = ["year", "State", "Organic"],
                            columns = "item", values = "value",
                            aggfunc = "first").reset_index())

    # rename columns
    wide = wide.rename(columns = select_variables)
    wide = wide.rename(columns = {"year": "Year"})

    # reorder columns of data
    ordered_cols = ["Year", "State", "Organic"] + list(select_variables.values())

    # return new and clean dataset
    final = wide[ordered_cols]
    return final

In [66]:
## load data

# selected states
states = ["Minnesota", "New York",
          "Pennsylvania", "Vermont", 
          "Wisconsin"]

# 2005 organic milk data
org_2005_table = build_dataset(path = data_folder / "milkorg2005.xlsx", 
                               year = 2005, organic = 1,
                               states = states, skiprows = 0)

# 2010 organic milk data
org_2010_table = build_dataset(path = data_folder / "milkorg11.xlsx",
                               year = 2010, organic = 1,
                               states = states, skiprows = 0)

# 2016 organic milk data
org_2016_table = build_dataset(path = data_folder / "milkorg2016-2.xlsx",
                               year = 2016, organic = 1,
                               states = states, skiprows = 0)

# 2005 conventional milk data
conv_2005_table = build_dataset(path = data_folder / "milkconv2005.xlsx",
                                year = 2005, organic = 0,
                                states = states, skiprows = 0)

# 2010 conventional milk data
conv_2010_table = build_dataset(path = data_folder / "milkconv11.xlsx",
                                year = 2010, organic = 0,
                                states = states, skiprows = 0)

# 2016 conventional milk data
conv_2016_table = build_dataset(path = data_folder / "milkconv2016-2.xlsx",
                                year = 2016, organic = 0,
                                states = states, skiprows = 0)

In [68]:
## merge datasets

# organic data
org_milk = pd.concat([org_2005_table, org_2010_table, org_2016_table], ignore_index = True)

# conventional data
conv_milk = pd.concat([conv_2005_table, conv_2010_table, conv_2016_table], ignore_index = True)

# all data
milk_df = pd.concat([org_milk, conv_milk], ignore_index=True)

# convert organic variable 
milk_df["Organic"] = milk_df["Organic"].map({"Yes": "1", "No": "0"})

# look at dataset
milk_df

item,Year,State,Organic,milk_sold,gross_value,feed_costs,vet_costs,bedding_litter_costs,marketing_costs,service_costs,utility_costs,repair_costs,total_operating_costs,overhead,total_costs,cows_per_farm,output_per_cow
0,2005,Minnesota,1,20.88,23.17,10.11,0.54,0.38,0.43,0.49,0.89,1.07,14.30,16.31,30.61,59.0,13058.0
1,2005,New York,1,24.03,26.87,13.08,0.35,0.37,0.24,0.10,1.12,0.94,16.63,21.37,38.00,53.0,10956.0
2,2005,Pennsylvania,1,24.23,26.85,13.23,0.68,0.46,0.31,0.23,0.73,0.94,17.10,14.61,31.71,46.0,12177.0
3,2005,Vermont,1,24.23,26.87,13.61,0.81,0.52,0.24,0.22,0.98,0.87,17.62,18.88,36.50,62.0,11982.0
4,2005,Wisconsin,1,21.19,23.63,13.47,0.60,0.39,0.22,0.33,0.84,0.85,17.11,14.95,32.07,65.0,13101.0
5,2010,Minnesota,1,25.17,27.81,14.01,0.49,0.47,0.25,0.60,1.20,0.65,17.89,21.99,39.88,36.0,10542.0
6,2010,New York,1,24.29,27.22,11.58,0.62,0.52,0.39,0.68,1.24,1.19,16.39,18.10,34.49,73.0,12880.0
7,2010,Pennsylvania,1,28.37,30.92,14.05,0.51,0.44,0.23,0.41,1.44,1.55,18.81,20.52,39.33,72.0,12247.0
8,2010,Vermont,1,25.97,28.61,15.88,0.57,0.50,0.23,0.45,1.32,1.96,21.05,22.45,43.50,60.0,12145.0
9,2010,Wisconsin,1,27.90,30.89,14.75,0.80,0.58,0.19,0.93,1.09,1.30,19.85,21.15,41.00,56.0,12940.0
10,2016,Minnesota,1,34.87,37.98,12.93,0.55,0.41,0.20,0.85,1.29,2.13,18.56,16.47,35.03,89.0,13376.0
11,2016,New York,1,38.09,40.81,23.65,0.64,0.48,0.10,0.52,1.08,1.80,28.56,18.06,46.62,62.0,12223.0
12,2016,Pennsylvania,1,30.23,32.37,13.12,0.59,0.44,0.22,0.70,0.79,1.40,17.51,20.35,37.86,37.0,13178.0
13,2016,Vermont,1,32.88,35.46,15.91,0.56,0.25,0.25,0.66,0.72,1.36,20.00,17.58,37.58,49.0,14543.0
14,2016,Wisconsin,1,36.72,38.58,15.52,0.57,0.78,0.37,0.75,1.44,3.02,22.64,18.17,40.81,63.0,14211.0
15,2005,Minnesota,0,13.97,15.62,8.16,0.54,0.04,0.28,0.31,0.41,0.33,10.24,3.88,14.12,988.0,19987.0
16,2005,New York,0,18.00,19.64,9.06,0.79,0.03,0.18,0.72,0.70,0.73,12.42,6.42,18.84,1013.0,17572.0
17,2005,Pennsylvania,0,16.94,18.37,7.59,0.62,0.03,0.70,0.79,0.59,0.56,11.06,7.42,18.48,273.0,17294.0
18,2005,Vermont,0,14.74,16.49,8.91,0.65,0.22,0.25,0.52,0.55,0.63,11.93,9.01,20.94,133.0,17949.0
19,2005,Wisconsin,0,15.39,17.48,7.58,1.11,0.32,0.29,0.43,0.59,0.72,11.23,9.57,20.80,127.0,18389.0
20,2010,Minnesota,0,14.21,16.04,9.21,0.57,0.08,0.28,0.43,0.51,0.37,11.46,4.56,16.02,999.0,22569.0
21,2010,New York,0,20.48,22.75,11.69,0.57,0.01,0.15,0.48,0.81,0.53,14.25,8.20,22.45,905.0,18071.0
22,2010,Pennsylvania,0,18.53,20.34,9.79,0.59,0.02,0.20,0.69,0.82,0.53,12.65,9.87,22.52,188.0,15518.0
23,2010,Vermont,0,14.83,16.40,8.13,0.54,0.23,0.26,0.26,0.40,0.31,10.14,3.36,13.50,1110.0,22085.0
24,2010,Wisconsin,0,16.06,18.34,10.64,0.96,0.32,0.18,0.68,0.96,1.01,14.76,13.10,27.86,80.0,18082.0
25,2016,Minnesota,0,15.23,17.41,8.86,0.69,0.04,0.24,0.66,0.28,0.42,11.22,5.66,16.88,1746.0,21703.0
26,2016,New York,0,16.89,20.44,11.28,1.34,0.19,0.14,1.05,0.72,1.09,15.85,9.47,25.32,177.0,20068.0
27,2016,Pennsylvania,0,15.73,18.00,9.97,0.74,0.29,0.12,0.75,0.70,0.87,13.47,8.85,22.32,144.0,20920.0
28,2016,Vermont,0,16.24,18.15,8.62,0.86,0.30,0.13,0.62,0.59,0.67,11.82,8.30,20.12,246.0,23086.0
29,2016,Wisconsin,0,16.80,18.82,9.59,0.61,0.28,0.18,0.94,0.65,0.49,12.77,7.99,20.76,139.0,19561.0

In [70]:
# export file
output_path = cleaned_folder / "milk_df_clean.xlsx"

milk_df.to_excel(output_path, index = False)