In [42]:
# setup
import pandas as pd
from pathlib import Path

In [66]:
## path setup
# choose base for uploading
base_folder = Path().resolve().parent

data_folder = base_folder / "data"
cleaned_folder = data_folder / "clean_data"

# create folder
cleaned_folder.mkdir(parents = True, exist_ok = True)

In [68]:
## upload data
# CPI file path
cpi_path = data_folder / "CPI All Urban Consumers Dairy and Related Products in U.S. City Average.xlsx"

# upload FRED data
cpi_control = pd.read_excel(cpi_path, sheet_name = "Annual")

## milk_df path
milk_df_path = cleaned_folder / "milk_df_clean.xlsx"

# upload milk_df
milk_df = pd.read_excel(milk_df_path)

In [70]:
## data cleaning
# rename columns
cpi_control.columns = ["year", "cpi"] 

# get year column to just be years and not months
cpi_control["year"] = pd.to_datetime(cpi_control["year"]).dt.year

# check to see if it worked
cpi_control.head()

   year     cpi
0  1935  15.325
1  1936  15.983
2  1937  16.567
3  1938  15.667
4  1939  15.058

In [72]:
## setting index for inflation
# identify base year
base_year = 2005
base_cpi = cpi_control.loc[cpi_control["year"] == base_year, "cpi"].iloc[0]

cpi_control["cpi_index"] = cpi_control["cpi"] / base_cpi
cpi_control

cpi_control = cpi_control[cpi_control["year"].isin([2005, 2010, 2016])]

cpi_control

    year      cpi  cpi_index
70  2005  182.383   1.000000
75  2010  199.245   1.092454
81  2016  217.306   1.191482

In [84]:
## merge all datasets
# add CPI into milk_df
milk_df = milk_df.merge(cpi_control[["year", "cpi_index"]],
                        how = "left", left_on = "Year", right_on = "year")

# cleanup
milk_df = milk_df.drop(columns=["year"])

In [86]:
## update variables
# identify money variables
money_variables = ["milk_sold", "gross_value", "feed_costs", "vet_costs", "bedding_litter_costs", 
                   "marketing_costs", "service_costs", "utility_costs", "repair_costs",
                   "total_operating_costs", "overhead", "total_costs"]

# switch money variables to real values with CPI control
for col in money_variables:
    milk_df[col + "_real"] = milk_df[col] / milk_df["cpi_index"]

milk_df

,Year,State,Organic,milk_sold,gross_value,feed_costs,vet_costs,bedding_litter_costs,marketing_costs,service_costs,...,bedding_litter_costs_real,marketing_costs_real,service_costs_real,utility_costs_real,repair_costs_real,total_operating_costs_real,overhead_real,total_costs_real,cpi_index_y,cpi_index
0,2005,Minnesota,1,20.88,23.17,10.11,0.54,0.38,0.43,0.49,...,0.380000,0.430000,0.490000,0.890000,1.070000,14.300000,16.310000,30.610000,1.000000,1.000000
1,2005,New York,1,24.03,26.87,13.08,0.35,0.37,0.24,0.10,...,0.370000,0.240000,0.100000,1.120000,0.940000,16.630000,21.370000,38.000000,1.000000,1.000000
2,2005,Pennsylvania,1,24.23,26.85,13.23,0.68,0.46,0.31,0.23,...,0.460000,0.310000,0.230000,0.730000,0.940000,17.100000,14.610000,31.710000,1.000000,1.000000
3,2005,Vermont,1,24.23,26.87,13.61,0.81,0.52,0.24,0.22,...,0.520000,0.240000,0.220000,0.980000,0.870000,17.620000,18.880000,36.500000,1.000000,1.000000
4,2005,Wisconsin,1,21.19,23.63,13.47,0.60,0.39,0.22,0.33,...,0.390000,0.220000,0.330000,0.840000,0.850000,17.110000,14.950000,32.070000,1.000000,1.000000
5,2010,Minnesota,1,25.17,27.81,14.01,0.49,0.47,0.25,0.60,...,0.430224,0.228843,0.549222,1.098445,0.594991,16.375979,20.128998,36.504976,1.092454,1.092454
6,2010,New York,1,24.29,27.22,11.58,0.62,0.52,0.39,0.68,...,0.475993,0.356995,0.622452,1.135059,1.089291,15.002923,16.568206,31.571129,1.092454,1.092454
7,2010,Pennsylvania,1,28.37,30.92,14.05,0.51,0.44,0.23,0.41,...,0.402763,0.210535,0.375302,1.318134,1.418824,17.218120,18.783403,36.001523,1.092454,1.092454
8,2010,Vermont,1,25.97,28.61,15.88,0.57,0.50,0.23,0.45,...,0.457685,0.210535,0.411917,1.208289,1.794126,19.268550,20.550068,39.818618,1.092454,1.092454
9,2010,Wisconsin,1,27.90,30.89,14.75,0.80,0.58,0.19,0.93,...,0.530915,0.173920,0.851295,0.997754,1.189982,18.170105,19.360087,37.530191,1.092454,1.092454
10,2016,Minnesota,1,34.87,37.98,12.93,0.55,0.41,0.20,0.85,...,0.344109,0.167858,0.713397,1.082686,1.787690,15.577244,13.823125,29.400369,1.191482,1.191482
11,2016,New York,1,38.09,40.81,23.65,0.64,0.48,0.10,0.52,...,0.402860,0.083929,0.436431,0.906434,1.510724,23.970155,15.157598,39.127753,1.191482,1.191482
12,2016,Pennsylvania,1,30.23,32.37,13.12,0.59,0.44,0.22,0.70,...,0.369288,0.184644,0.587504,0.663040,1.175008,14.695988,17.079575,31.775562,1.191482,1.191482
13,2016,Vermont,1,32.88,35.46,15.91,0.56,0.25,0.25,0.66,...,0.209823,0.209823,0.553932,0.604290,1.141436,16.785823,14.754738,31.540561,1.191482,1.191482
14,2016,Wisconsin,1,36.72,38.58,15.52,0.57,0.78,0.37,0.75,...,0.654647,0.310538,0.629468,1.208579,2.534659,19.001551,15.249920,34.251471,1.191482,1.191482
15,2005,Minnesota,0,13.97,15.62,8.16,0.54,0.04,0.28,0.31,...,0.040000,0.280000,0.310000,0.410000,0.330000,10.240000,3.880000,14.120000,1.000000,1.000000
16,2005,New York,0,18.00,19.64,9.06,0.79,0.03,0.18,0.72,...,0.030000,0.180000,0.720000,0.700000,0.730000,12.420000,6.420000,18.840000,1.000000,1.000000
17,2005,Pennsylvania,0,16.94,18.37,7.59,0.62,0.03,0.70,0.79,...,0.030000,0.700000,0.790000,0.590000,0.560000,11.060000,7.420000,18.480000,1.000000,1.000000
18,2005,Vermont,0,14.74,16.49,8.91,0.65,0.22,0.25,0.52,...,0.220000,0.250000,0.520000,0.550000,0.630000,11.930000,9.010000,20.940000,1.000000,1.000000
19,2005,Wisconsin,0,15.39,17.48,7.58,1.11,0.32,0.29,0.43,...,0.320000,0.290000,0.430000,0.590000,0.720000,11.230000,9.570000,20.800000,1.000000,1.000000
20,2010,Minnesota,0,14.21,16.04,9.21,0.57,0.08,0.28,0.43,...,0.073230,0.256304,0.393609,0.466839,0.338687,10.490146,4.174090,14.664236,1.092454,1.092454
21,2010,New York,0,20.48,22.75,11.69,0.57,0.01,0.15,0.48,...,0.009154,0.137306,0.439378,0.741450,0.485146,13.044030,7.506038,20.550068,1.092454,1.092454
22,2010,Pennsylvania,0,18.53,20.34,9.79,0.59,0.02,0.20,0.69,...,0.018307,0.183074,0.631606,0.750604,0.485146,11.579437,9.034707,20.614144,1.092454,1.092454
23,2010,Vermont,0,14.83,16.40,8.13,0.54,0.23,0.26,0.26,...,0.210535,0.237996,0.237996,0.366148,0.283765,9.281857,3.075645,12.357502,1.092454,1.092454
24,2010,Wisconsin,0,16.06,18.34,10.64,0.96,0.32,0.18,0.68,...,0.292919,0.164767,0.622452,0.878756,0.924524,13.510869,11.991354,25.502223,1.092454,1.092454
25,2016,Minnesota,0,15.23,17.41,8.86,0.69,0.04,0.24,0.66,...,0.033572,0.201430,0.553932,0.235002,0.352502,9.416847,4.750388,14.167234,1.191482,1.191482
26,2016,New York,0,16.89,20.44,11.28,1.34,0.19,0.14,1.05,...,0.159465,0.117501,0.881256,0.604290,0.914827,13.302765,7.948087,21.250852,1.191482,1.191482
27,2016,Pennsylvania,0,15.73,18.00,9.97,0.74,0.29,0.12,0.75,...,0.243394,0.100715,0.629468,0.587504,0.730183,11.305252,7.427727,18.732978,1.191482,1.191482
28,2016,Vermont,0,16.24,18.15,8.62,0.86,0.30,0.13,0.62,...,0.251787,0.109108,0.520361,0.495182,0.562325,9.920421,6.966116,16.886538,1.191482,1.191482
29,2016,Wisconsin,0,16.80,18.82,9.59,0.61,0.28,0.18,0.94,...,0.235002,0.151072,0.788934,0.545539,0.411253,10.717748,6.705936,17.423684,1.191482,1.191482

In [88]:
# export file
inflation_path = cleaned_folder / "milk_df_inflation_adjusted.xlsx"

milk_df.to_excel(inflation_path, index = False)